body {background-color: #FFD8D8}

*{color: #ff98f5;
  font-size: 20px }

h1 {font-style: bold;
    color: #093FB4}

h2 {font-family: sans-serif;
    font-weight: bold;
    font-size: 24px } 

h3 {font-family: sans-serif;
    font-weight: 18px } 

.note {font-size: 15px}

html{background-color: #FCFFC1}

#outer-box {background-color: #FB9EC6;}
.box {background-color: #FBB4A5; padding: 5px;} 
.inner-box {background-color: #FCFFC1;}

p {color: #D92C54;
  font-style: bold;
  font-size: 30px}


